body{
    background-color: #121212;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

/* Name and contact styles */

.intro-div{
    width: 50%;
    position: fixed;
}
.hello-style{
    color: #E9ECEE;
}
.name-style{
    color: #A3CAE9;
}
.info-style{
    color: #6E9FC1;
}
.name-info{
    color: white;
    margin-top: 10vh;
    margin-left: 7rem;
    z-index: 1;
    position: absolute;
}
.name-info h4{
    font-size: 3rem;
    margin: 0;
}
.name-info p{
    font-size: 1.25rem;
}
.name-info b{
    color: yellow;
}
.tabs-div{
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: #ACACAC;
}
.tabs-div li{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.tabs-div a{
    margin-left: .75rem;
    font-size: .75rem;
    text-decoration: none;
    color: #ACACAC;
}
nav .tabs-div ul li.active a {
    color: white;
    font-weight: 500;
    }
.line-extend{
    display: none;
}
.active{
    display: block;
}
/*
.about-tab, .hobbies-tab, .projects-tab{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.about-tab span, .hobbies-tab span, .projects-tab span{
    font-weight: 600;
    margin-left: .75rem;
    font-size: .75rem;
}
*/
.about-tab span:hover{
    color: white;
}
.hobbies-tab span:hover{
    color: white;
}
.projects-tab span:hover{
    color: white;
}
.contact-icons img{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.info-div{
    width: 50%;
    margin-left: 50%;
}

/* About me styles*/

.about-me-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: lightgrey;
    margin-left: auto;
    margin-right: 5rem;
    margin-bottom: 25%;
}
.about-me-div b{
    font-weight: 400;
    color: #6E9FC1;
}
.spacer-top{
    display: inline-block;
    height: 180px;
}

/* Hobbies styles*/

.garden-hobby-div, .woodcraft-hobby-div, .technology-hobby-div{
    max-width: 90%;
    color: #ACACAC;
    margin-left: auto;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

.garden-hobby-div:hover, .woodcraft-hobby-div:hover, .technology-hobby-div:hover{
    background-color: rgb(163, 202, 233, .1);
    
    border-top: 1px solid #6E9FC1;

}
.garden-hobby-div:hover .garden-title, .woodcraft-hobby-div:hover .woodcraft-title, 
.technology-hobby-div:hover .technology-title{
    color: #6E9FC1;
}
.garden-title, .woodcraft-title, .technology-title{
    display: flex;
    align-items: center;
}
.garden-title span, .woodcraft-title span, .technology-title span{
    margin-left: .5rem;
}
.garden-text, .woodcraft-text, .technology-text{
    padding: .5rem;
}

/* Project list styles */

.slider-bar-expand{
    display: none;
}

.projects-div{
    margin-top: 10%;
    color: #ACACAC;
    margin-left: auto;
    margin-right: 2rem;
}
.project-image{
    float: left;
    width: 33%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: .1rem;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding: .25rem;
    opacity: .66;
}
.project-image img{
    width: 100%;
}
.project-link{
    margin-left: .5rem;
    display: none;
}
.project-link img{
    max-height: 1rem;
}
.project-div:hover{
    background-color: rgb(163, 202, 233, .1);
    border-top: 1px solid #6E9FC1;
}
.project-div:hover p{
    color: lightgrey;
}
.project-div:hover .project-title{
    color: #6E9FC1;
}
.project-div:hover .slider-bar-expand{
    display: flex;
    align-items: center;
}
.project-div:hover .project-image{
    opacity: 1;
}
.project-div:hover .project-link{
    display: block;
}
.project-div{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    border-top: 1px solid #121212;
    height: fit-content;
}
.project-title{
    display: flex;
    align-items: center;
}
.project-title span{
    margin-left: .5rem;
}
.project-stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.github-link a{
    text-decoration: none;
    font-size: .75rem;
    font-weight: 500;
    color: #A3CAE9;
}
.ps-button, .github-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #395A7F;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 15px;
    margin-right: .5rem;
    margin-top: .5rem;
}
.ps-button span, .github-link span{
    font-size: .75rem;
    font-weight: 500;
    color: #A3CAE9;
}


.btm-spacer{
    height: 5rem;
}
/* Moving boxes styles*/
.area {
    background: #121212;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
  }
  
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #414066;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 15px;
    height: 15px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }